@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welkom op MoveIT</h1>
    <h3>Wat wilt u doen?</h3>

    <p></p>

    <button type="button">Ik wil een persoon vervoeren</button>

    <p></p>

    <button type="button">Ik wil een pakket versturen</button>

</div>