@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welkom op MoveIT</h1>
    <h3>Wat wilt u doen?</h3>

    <p></p>

    <!--Dit gebruikt Tag Helpers van Razor.
    asp-page="/AddRide" verwijst naar de Razor Page AddRide.cshtml.-->
    <a asp-page="/Ride/Add" class="btn btn-primary">Ik wil een persoon vervoeren</a>

    <p></p>

    <a asp-page="/Ride/Add" class="btn btn-primary">Ik wil een pakket versturen</a>

    <p></p>

</div>