@page
@model MoveIT.Pages.Ride.ListModel
@{
	//41.20
	ViewData["Title"] = "Ride List";
}

<h1>@ViewData["Title"]</h1>

<p>Overzicht van de geboekte ritten:</p>


@if (Model.Rides?.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Afstand</th>
                <th>Prijs</th>
                <th>Datum en tijd</th>
                <th>Aantal personen</th> 
                <th>Gewicht pakket</th>
                <th>Volume pakket</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ride in Model.Rides)
            {
                <tr>
                    <td>@ride.Distance</td>
                    <td>@ride.Price</td>
                    <th>Datum en tijd</th>
                    <th>@ride.Persons</th>
                    <th>Gewicht pakket</th>
                    <th>Volume pakket</th>


                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No rides available.</p>
}
